*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    margin-top: 20%;
}
.galeriaFotos{
    overflow-x: auto;
}
.galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
.esquerda,
.direita{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}
.direita{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}
.esquerda:hover{
    opacity: 1;
}
.direita:hover{
    opacity: 1;
}
.item{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.5;
    transition: all 600ms ease-in-out;
}
.correrItem{
    opacity: 1;
    border: 3px solid turquoise;
}
.galeriaFotos::-webkit-scrollbar {
    display: none;
}
  
  
.galeriaFotos {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}